.page-with-sidebar {
  .sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    height: 100%;
    transition-duration: .3s;
  }
}

.sidebar-wrapper {
  z-index: 99;
  background: $background-color;
  transition-duration: .3s;
}

.content-wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background: #f1f4f8;

  .container-fluid {
    background: #FFF;
    padding: 18px;
    border: 1px solid #e7e9ed;
    min-height: 90vh;
  }
}

.nav-sidebar {
  margin-top: 14 + $header-height;
  margin-bottom: 50px;
  transition-duration: .3s;
  list-style: none;
  overflow: hidden;

  &.navbar-collapse {
    padding: 0px !important;
  }

  li {
    width: $sidebar_width;

    &.separate-item {
      padding-top: 10px;
      margin-top: 10px;
    }

    a {
      padding: 8px 15px;
      font-size: 16px;
      line-height: 24px;
      color: $gray;
      display: block;
      text-decoration: none;
      padding-left: 22px;
      font-weight: normal;

      &:hover {
        text-decoration: none;
      }

      &:active, &:focus {
        text-decoration: none;
      }

      i {
        width: 16px;
        color: $gray-light;
        margin-right: 13px;
      }

      .count {
        float: right;
        background: #eee;
        padding: 0px 8px;
        @include border-radius(6px);
      }
    }
  }
}

.sidebar-subnav {
  margin-left: 0px;
  padding-left: 0px;

  li {
    list-style: none;
  }
}

@mixin expanded-sidebar {
  padding-left: $sidebar_width;
  transition-duration: .3s;

  .sidebar-wrapper {
    width: $sidebar_width;

    .nav-sidebar {
      width: $sidebar_width;
    }

    .nav-sidebar li a{
      width: 230px;

      &.back-link {
        i {
          visibility: hidden;
        }
      }
    }
  }
}

@mixin folded-sidebar {
  padding-left: 60px;
  transition-duration: .3s;

  .sidebar-wrapper {
    width: $sidebar_collapsed_width;

    .header-logo {
      width: $sidebar_collapsed_width;

      a {
        padding-left: 7px;

        .gitlab-text-container {
          display: none;
        }
      }
    }

    .nav-sidebar {
      width: $sidebar_collapsed_width;

      li a {
        span {
          display: none;
        }
      }
    }

    .collapse-nav a {
      left: 0px;
      width: $sidebar_collapsed_width;
    }

    .sidebar-user {
      padding-left: 7px;
      width: $sidebar_collapsed_width;
    }
  }
}

.collapse-nav a {
  width: $sidebar_width;
  position: fixed;
  bottom: 0;
  font-size: 13px;
  background: transparent;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition-duration: .3s;
}

.collapse-nav a:hover {
  text-decoration: none;
  background: #f2f6f7;
}

@media (max-width: $screen-md-max) {
  .page-sidebar-collapsed {
    @include folded-sidebar;
  }

  .page-sidebar-expanded {
    @include folded-sidebar;
  }

  .collapse-nav {
    display: none;
  }
}

@media(min-width: $screen-md-max) {
  .page-sidebar-collapsed {
    @include folded-sidebar;
  }

  .page-sidebar-expanded {
    @include expanded-sidebar;
  }
}

.sidebar-user {
  padding: 12px 22px;
  position: fixed;
  bottom: 40px;
  width: $sidebar_width;
  overflow: hidden;
  transition-duration: .3s;

  .username {
    margin-left: 10px;
    width: $sidebar_width - 2 * 10px;
    font-size: 16px;
    line-height: 49px;
  }
}

.sidebar-wrapper {
  .header-logo {
    border-bottom: 1px solid transparent;
    float: left;
    height: $header-height;
    width: $sidebar_width;
    overflow: hidden;
    transition-duration: .3s;

    a {
      float: left;
      height: $header-height;
      width: 100%;
      padding: 12px 22px;
      overflow: hidden;

      img {
        width: 48px;
        height: 48px;
        float: left;
      }

      .gitlab-text-container {
        width: 230px;

        h3 {
          width: 158px;
          float: left;
          margin: 0;
          margin-left: 14px;
          font-size: 20px;
          line-height: 49px;
          font-weight: normal;
        }
      }
    }

    &:hover {
      background-color: #EEE;
    }
  }
}
