- page_title "Issues"
- header_title  "Issues", issues_dashboard_path(assignee_id: current_user.id)
= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, issues_dashboard_url(format: :atom, private_token: current_user.private_token), title: "#{current_user.name} issues")

%p.light
  List all issues from all projects you have access to.

.append-bottom-20
  .pull-right
    - if current_user
      .hidden-xs.pull-left
        = link_to issues_dashboard_url(format: :atom, private_token: current_user.private_token), class: 'btn' do
          %i.fa.fa-rss

  = render 'shared/issuable/filter', type: :issues
= render 'shared/issues'
