- page_title "Merge Requests"
- header_title  "Merge Requests", merge_requests_dashboard_path(assignee_id: current_user.id)

%p.light
  List all merge requests from all projects you have access to.

.append-bottom-20
  = render 'shared/issuable/filter', type: :merge_requests
= render 'shared/merge_requests'
