.new_project,
.edit_project {
  fieldset.features {
    .control-label {
      font-weight: bold;
    }
  }
}

.project-name-holder {
  .help-inline {
    vertical-align: top;
    padding: 7px;
  }
}

.project-home-panel {
  text-align: center;

  .project-identicon-holder {
    margin-bottom: 15px;

    .avatar, .identicon {
      margin: 0 auto;
      float: none;
    }

    .identicon {
      @include border-radius(50%);
    }
  }

  .project-home-dropdown {
    margin: 11px 3px 0;
  }

  .project-home-desc {
    h1 {
      margin: 0;
      margin-bottom: 10px;
      font-size: 26px;
      font-weight: bold;
    }

    p {
      font-size: 18px;
      color: #666;
      display: inline;
    }
  }

  .git-clone-holder {
    max-width: 600px;
    margin: 20px auto;
  }

  .visibility-level-label {
    color: $gray;
    i {
      color: inherit;
    }
  }

  .project-repo-buttons {
    margin-top: 25px;
    margin-bottom: 25px;

    .btn {
      @extend .btn-info;

      margin-left: 10px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      padding: 8px 12px;

      .count {
        padding-left: 7px;
        display: inline-block;
        margin-left: 7px;
      }
    }
  }
}

.git-clone-holder {
  .project-home-dropdown + & {
    margin-right: 45px;
  }

  .form-control {
    cursor: auto;
    @extend .monospace;
    background: #FAFAFA;
    width: 100%;
  }

  .input-group-addon {
    background: #FAFAFA;

    &.git-protocols {
      padding: 0;
      border: none;

      .input-group-btn:last-child > .btn {
        @include border-radius-right(0);
      }
    }
  }
}

.project-visibility-level-holder {
  .radio {
    margin-bottom: 10px;

    i {
      margin: 0 3px;
      font-size: 20px;
    }

    .option-title {
      font-weight: bold;
      display: inline-block;
    }

    .option-descr {
      margin-left: 36px;
      color: $gray;
    }
  }
}

.save-project-loader {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #555;
}

ul.nav.nav-projects-tabs {
  @extend .nav-tabs;

  padding-left: 8px;

  li {
    a {
      padding: 6px 25px;
      margin-top: 2px;
      border-color: #DDD;
      background-color: #EEE;
      text-shadow: 0 1px 1px white;
      color: #555;
    }
    &.active {
      a {
        font-weight: bold;
      }
    }
  }
}

.project_member_row form {
  margin: 0px;
}

.transfer-project .select2-container {
  min-width: 200px;
}

.deploy-project-label {
  margin: 1px;
}

.vs-public {
  color: $gl-primary;
}

.vs-internal {
  color: $gl-warning;
}

.vs-private {
  color: $gl-success;
}

.breadcrumb.repo-breadcrumb {
  padding: 0;
  line-height: 42px;
  background: white;
  border: none;
  font-size: 16px;

  > li + li:before {
    padding: 0 3px;
    color: #999;
  }
}

.fork-namespaces {
  .thumbnail {

    &.fork-exists-thumbnail {
      border-color: #EEE;

      .caption {
        color: #999;
      }
    }

    &.fork-thumbnail {
      border-color: #AAA;

      &:hover {
        background-color: $hover;
      }
    }

    a {
      text-decoration: none;
    }
  }
}

table.table.protected-branches-list tr.no-border {
  th, td {
    border: 0;
  }
}

.project-import .btn {
  float: left;
  margin-right: 10px;
}

.project-stats {
  text-align: center;

  ul.nav-pills { display:inline-block; }
  li { display:inline; }
  a { float:left; }

  li.missing a {
    color: #bbb;
    border: 1px dashed #ccc;

    &:hover {
      background-color: #FAFAFA;
    }
  }
}

pre.light-well {
  border-color: #f1f1f1;
}

.projects-search-form {
  margin: -18px;
  background-color: #f8fafc;
  padding: 18px;
  margin-bottom: 0px;
  border-top: 1px solid #e7e9ed;
  border-bottom: 1px solid #e7e9ed;
}

/*
 * Projects list rendered on dashboard and user page
 */
.projects-list {
  @include basic-list;

  .project-row {
    padding: 18px;
    border-color: #f1f2f4;
    margin: 0 -18px;

    &.no-description {
      .project {
        line-height: 38px;
      }
    }

    .project-full-name {
      @include str-truncated;
      font-weight: 500;
      font-size: 16px;
      color: #4c4e54;
    }

    .pull-right.light {
      line-height: 38px;
      color: #7f8fa4;
    }

    .project-description {
      color: #7f8fa4;
      font-size: 16px;

      p {
        @include str-truncated;
        margin-bottom: 0;
        color: #7f8fa4;
      }
    }
  }
}

.panel .projects-list li {
  padding: 10px 15px;
  margin: 0;
}
