// Override Bootstrap variables here (defaults from bootstrap-sass v3.3.3):
// For all variables see https://github.com/twbs/bootstrap-sass/blob/master/templates/project/_bootstrap-variables.sass
//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

// $gray-base:              #000
// $gray-darker:            lighten($gray-base, 13.5%) // #222
// $gray-dark:              lighten($gray-base, 20%)   // #333
// $gray:                   lighten($gray-base, 33.5%) // #555
// $gray-light:             lighten($gray-base, 46.7%) // #777
// $gray-lighter:           lighten($gray-base, 93.5%) // #eee

$brand-primary:  $gl-primary;
$brand-success:  $gl-success;
$brand-info:     $gl-info;
$brand-warning:  $gl-warning;
$brand-danger:   $gl-danger;


//== Scaffolding
//
$text-color:            $gl-text-color;
$link-color:            $gl-link-color;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: $regular_font;
$font-family-monospace:  $monospace_font;
$font-size-base:         $gl-font-size;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     9px;
$padding-base-horizontal:   18px;
$component-active-color:    #fff;
$component-active-bg:       $brand-info;

//== Forms
//
//##

$input-color:                    $text-color;
$input-border:                   #e7e9ed;
$input-border-focus:             #7F8FA4;
$legend-color:                   $text-color;


//== Pagination
//
//##

$pagination-color:                     #fff;
$pagination-bg:                        $brand-success;
$pagination-border:                    transparent;

$pagination-hover-color:               #fff;
$pagination-hover-bg:                  darken($brand-success, 15%);
$pagination-hover-border:              transparent;

$pagination-active-color:              #fff;
$pagination-active-bg:                 darken($brand-success, 15%);
$pagination-active-border:             transparent;

$pagination-disabled-color:            #b4bcc2;
$pagination-disabled-bg:               lighten($brand-success, 15%);
$pagination-disabled-border:           transparent;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             #fff;
$state-success-bg:               $brand-success;
$state-success-border:           $brand-success;

$state-info-text:                #fff;
$state-info-bg:                  $brand-info;
$state-info-border:              $brand-info;

$state-warning-text:             #fff;
$state-warning-bg:               $brand-warning;
$state-warning-border:           $brand-warning;

$state-danger-text:              #fff;
$state-danger-bg:                $brand-danger;
$state-danger-border:            $brand-danger;


//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-border-radius:            0;


//== Panels
//
//##

$panel-border-radius:            0;
$panel-default-text:          $text-color;
$panel-default-border:        #E7E9ED;
$panel-default-heading-bg:    #F8FAFC;


//== Wells
//
//##

$well-bg:                     #F9F9F9;
$well-border:                 #EEE;

//== Code
//
//##

$code-color:                  #c7254e;
$code-bg:                     #f9f2f4;

$kbd-color:                   #fff;
$kbd-bg:                      #333;

//== Buttons
//
//##
$btn-default-color:              $gl-text-color;
$btn-default-bg:                 #fff;
$btn-default-border:             #e7e9ed;

//== Nav
//
//##
$nav-link-padding: 13px 18px;
