- if event.proper?
  .event-item{class: "#{event.body? ? "event-block" : "event-inline" }"}
    .event-item-timestamp
      #{time_ago_with_tooltip(event.created_at)}

    = cache [event, "v2"] do
      = image_tag avatar_icon(event.author_email, 48), class: "avatar s48", alt:''
      - if event.created_project?
        = render "events/event/created_project", event: event
      - elsif event.push?
        = render "events/event/push", event: event
      - elsif event.commented?
        = render "events/event/note", event: event
      - else
        = render "events/event/common", event: event
